html,
body {
  height: 100vh;
}

main {
  box-sizing: border-box;
  min-height: 95%;
  padding-bottom: 90px;
}
footer {
  height: 80px;
  margin-top: -80px;
  background-color: black;
  padding-top: 10px;
}