{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductBot Manager</title>
    <link rel="stylesheet"  href="{%  static  'main.css'  %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<body style="height: 100%">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/admin-area/dashboard">ProductBot</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin-area/dashboard">Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin-area/dashboard">Аналитика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin-area/dashboard">Отчеты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin-area/dashboard">FAQ</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/admin-area/dashboard" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Поиск по названию бота" aria-label="Search" name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav my-2 my-lg-0 mr-5">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu mr-3" aria-labelledby="navbarDropdown">
                            <div class="mb-3">
                                <img src="{%  static  'default_user_icon.png'  %}" width="30px" height="30px" alt="" class="mr-2 ml-1">
                                <small class="font-weight-bold">{{ user.first_name }} {{ user.last_name }}</small>
                            </div>
                            <a class="dropdown-item" href="/admin-area/user_profile">Профайл</a>
                            <a class="dropdown-item" href="/admin-area/user_settings">Настройки</a>
                            <a class="dropdown-item text-danger font-weight-bold" href="/admin-area/logout">Выйти</a>

                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/admin-area/login"></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="row mt-3" style="width:96%; margin:0 auto;">
        <div role="main" class="col-9" >
            {% block content %}

            {% endblock %}
        </div>
        <div role="space" class="col-1 d-flex flex-row justify-content-center" style="width:96%;">
            <div style="height:100%; width:2px; background-color:#fc9; margin: auto 0">
            </div>
        </div>
        <aside role="additional" class="col-2">
            {% block additional %}


            {% endblock %}
        </aside>
    </main>

    <footer>
        <div class="container d-flex flex-row justify-content-between">
            <div class="col-1-3 d-flex flex-column">
                <small class="font-weight-bold text-white">ProductBot Manager</small>
                <small class="font-weight-bold text-white">Stack: Django/aiogram/Postgresql
                </small>
                <small class="font-weight-bold text-white">Бот в Telegram:
                    <a href="https://t.me/SamokatyBot">SamokatyBot</a>
                </small>

            </div>
            <div class="col-1-3">
                <address class="d-flex flex-column">
                    <small class="text-white">г.Москва, улица Никакая, дом 1, офис 1</small>
                    <small class="text-white">Тел: +79771111111</small>
                    <small class="text-white">GitHub:
                        <a href="https://github.com/YuriyShashurin/PET_Product_TelegramBot_admin_panel_and_api.git">@YuriyShashurin</a>
                    </small>
                </address>
            </div>
            <div class="col-1-3 text-white">2022 &#169</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>